body{
    background-color: #6e7980 ;

}

h1{
color: black;
font-size: 28pt;
font-style: oblique;
font: Calibri 
}

h2{
    color: darkblue
}
p{
    font-size: 18px;
    color: rgb(69, 182, 182);
}